<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <h2 class='logo'><a href="./">PHPJSPOZ1</a></h2>

        </div>
        <div class="login-reg">
            {% if userName == true %}
                <a href="./profile">{{ userName }}</a>
                <a href="./user-panel">User panel</a>                
            {% else %}
                <a href="./login">Log in</a>
                <a href="./register">Register</a>
            {% endif %}
        </div>
        <div class="search-form">                
            <form method="get" action="{{ webPath}}search">
                <input type="text" name="city" placeholder="City Name">
                <button type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>