{% extends "base.twig" %}
{% block body %}
    <form method="post" action="" class="login-box">
        <ul>
            <li>
                <label>Old password</label>
                <input type="password" name="password-old" placeholder="Old password" required />
            </li>  
            <li>
                <label>Password</label>
                <input type="password" name="password-new" placeholder="New password" required />
            </li>    
            <li>
                <label>Repeat password</label>
                <input type="password" name="password-confirm-new" placeholder="Repeat password" required />
            </li>
            <li>
                <button class="btn btn-info">Save</button>
            </li>
        </ul>    
    </form>
{% endblock %}
