{% extends "base.twig" %}
{% block body %}
    <div class="login-box">
        <ul>
            <li>
                <label><h3>{{ email }}</h3></label>
            </li>
            <li> 
                <form method="POST" action="">
                    <button class="btn btn-info">Log out</button>
                </form>
            </li>
            <li> 
                <a href="change-pass" class="btn btn-info">Change password</a>
            </li>
            {#<li> 
                <img src ="avatar/{{id['u_id']}}_150.jpg">  
            </li>
            <li> 
                <form method="POST" enctype="multipart/form-data">
                    <input type="file" name="img" >
                    <input type="submit" class="btn btn-info">
                </form>
            </li>#}
        </ul>
    </div>
{% endblock %}