<html>
    <head>
        <link href="{{ webPath }}css/vendor/bootstrap.min.css" rel="stylesheet">
        <link href="{{ webPath }}css/szablon.css" rel="stylesheet">

        <script type="text/javascript" src="{{ webPath }}js/vendor/jquery-3.1.1.min.js"></script>
        <script type="text/javascript" src="{{ webPath }}js/geoLocation.js"></script>
    </head>
    <body>
        <header>
            
        </header>
            {% include 'common/header.twig' %}
        <div class="container main-container">
        {% block body %}
            TEST BODY
        {% endblock %}
        </div>
        <footer>
            {% include 'common/footer.twig' %}
        </footer>
    </body>
</html>