<html>
    <head>
        <link href="{{ webPath }}css/vendor/bootstrap.min.css" rel="stylesheet">
        <link href="{{ webPath }}css/szablon.css" rel="stylesheet">

        <script type="text/javascript" src="{ webPath }}js/vendor/jquery-3.1.1.min.js"></script>
        <script type="text/javascript" src="{ webPath }}js/main.js"></script>
    </head>
    <body>
        {% block body %}
            TEST BODY
        {% endblock %}
    </body>
</html>