<form method="post" action="">
    <ul>
        <li>
            <label>Stare Hasło</label>
            <input type="password" name="password-old" placeholder="Hasło" required />
        </li>  
        <li>
            <label>Hasło</label>
            <input type="password" name="password" placeholder="Hasło" required />
        </li>    
        <li>
            <label>Powtórz hasło</label>
            <input type="password" name="password-confirm" placeholder="Powtórz hasło" required />
        </li>
        <li>
            <button>Zapisz</button>
        </li>
    </ul>    
</form>{# empty Twig template #}
