{% if errors is not empty %}
   <ul class="errors">
   {% for e in errors %}
       <li>{{ e }}</li>
   {% endfor %}
   </ul>
{% endif %}

<form method="post" action="">
    <ul>
        <li>
            <label>Login</label>
            <input type="email" name="email" value="{{ email }}" placeholder="E-mail" required/>
        </li>
        <li>
            <label>Hasło</label>
            <input type="password" name="password" placeholder="Hasło" required />
        </li>    
        <li>
            <button>Zaloguj</button>
        </li>
        <li>
            <a href="http://localhost/phpjspoz1/forgot-pass">Przypomnij hasło</a>
        </li>
        <li>
            <a href="http://localhost/phpjspoz1/form-reg">Rejestracja</a>
        </li>
    </ul>    
</form>