<div class="row">
    <div class="col-md-12">
        <div class="city-box">
            <ul>
                <li><h4>Twoja lokalizacja</h4></li>
                <li>Temperature: {{ location['temp'] }} *C</li>
                <li>Pressure: {{ location['pressure'] }} hPa</li>
                <li>Humidity: {{ location['humidity'] }} %</li>
                <li>Description: {{ location['description'] }}</li>
            </ul>
        </div>
    </div>
</div>