<ul>
    <li>
        <label>user: {{ email }}</label>
    </li>
     <li> 
         <form method="POST" action="">
        <button>Wyloguj</button>
         </form>
    </li>
    <li> 
        <a href="change-pass">Zmien Hasło<a>
    </li>
    <li> 
        <img src="">
    </li>
     <li> 
        <img src ="img/{{value['id']}}_150.jpg">  
    </li>
      <li> 
         <input type="file" name="image" >
    </li>
</ul>